body,
html {
  /* background-image: url("../../images/stone_tile2.png"); */
  font-family: alagard;
  font-size: 16px;
  text-align: center;
  background-color: #2a2c30;
  color: burlywood;

  height: 100vh;
  margin: 0;
  background-image: url("./images/stone_tile2.png");
  background-size: "64px";
}
.title {
  font-weight: normal;
  text-align: center;
}

.text-bisque {
  color: bisque;
}

h4 {
  margin-bottom: 25px;
}

.desc {
  font-size: 20px;
  font-family: ui-serif;
}

.main-title__text {
  font-size: 35px;
  font-size: 3.4vw;
  padding-top: 7px;

  text-shadow: 4px 4px 2px #000;
}

.form {
  background-image: linear-gradient(to right, #832424, #691818);
  border: #3d0404 solid 2px;
  color: white;
}

.form:focus {
  color: white;
  background-color: wheat;
  border-color: burlywood;

  box-shadow: 0px 0px 5px 3px rgba(255, 236, 174, 0.2);
}

.form::placeholder {
  color: grey;
}
