/* FONTSSSS */
@font-face {
  font-family: 'Romulus';
  src: local('Romulus'), url('./fonts/romulus.ttf') format('truetype');
}

@font-face {
  font-family: 'alagard';
  src: local('alagard'), url('./fonts/alagard.ttf') format('truetype');
}

/* Not fonts */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
