.desktop-tavern__image-main {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  visibility: hidden;
}
.tavern-background {
  background-image: url("../../../images/tavern/All-In-One.png");
  background-size: contain;
  /* height: 400px; */
  background-position: center;
  background-repeat: no-repeat;
}
