/* .character-progress-bar__container {
  background-color: lightgrey;
} */
/* 
#namecard {
  text-align: center;
  background-image: linear-gradient(to right, #832424 , #691818);
  border: #3d0404 solid 2px;
  color: bisque;
} */
