.button-text {
  color: #2c2646;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
  font-size: 8pt;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
}

.button-image-background {
  background-image: url("../../images/btn.png");
  background-repeat: no-repeat;
  background-position: center;
}
.button-image__size {
  background-size: 96px 30px;
  height: 30px;
  width: 98px;
  margin-bottom: 10px;
}

.button-image-background:hover {
  opacity: 0.7;
  background-color: brown;
}
