.avatar__container {
  /* background-image: url("../../images/stone_tile2.png"); */
  background-color: transparent;
  border-radius: 25px;
  background-size: auto;
  height: 200px;
  width: 200px;
}

.frame {
  height: 200px;
  width: 200px;
  margin-top: -2%;
  z-index: -5;
}

.avatar {
  z-index: 2;
  height: 136px;
  margin-top: -118%;
}
