#list {
  padding-left: 5px;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

#list:hover {
  background-image: linear-gradient(to right, #832424b9, transparent);
  transition: ease-in-out 0.45s;
  font-size: 18px;
}

.scroll-list-item__text {
  text-align: left;
}

.scroll-list-item__spell-level {
  color: brown;
}
