#divbox {
    background-image: url("../../images/stone_tile2.png");
    background-size: "64px";
    color: burlywood;
  }
  
  #subclass {
    color: #8d1e1e;
    font-size: 28px;
  }
  
  #character-name {
    font-size: 32px;
    color: #d3c120;
  }
  
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  
  #card {
    background-color: rgba(244, 165, 96, 0.596);
    border-radius: 2px;
    border: #995739b7 2px solid;
    width: auto;
    margin-left: 25px;
  }