#divbox {
  background-image: url("../../images/stone_tile2.png");
  background-size: "64px";
  color: burlywood;
  padding: -5px;
}
#subclass {
  color: #8d1e1e;
  font-size: 28px;
}

#level {
  text-align: center;
  display: inline-block;
  width: 46px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-top: 0;
  line-height: 39px;
  justify-self: center;
  background-color: wheat;
  border: burlywood 2px solid;

  border-radius: 4px;
  font-family: Romulus;
  color: brown;
  font-size: 32px;
  font-weight: bolder;
}

#listnames {
  color: #daa30f;
}

#listman {
  justify-content: space-evenly;
  text-align: center;
}

#character-name {
  font-size: 32px;
  color: #d3c120;
}

h2 {
  font-size: 34px;
}
h3 {
  font-size: 20px;
}


#card {
  background-color: #46413b98;
  border-radius: 2px;
  border: #6e6967b7 2px solid;
}