.list-group-item {
    background-color: transparent;
    color: burlywood;
    font-weight: normal;
}

#level {
justify-self: center;
    background-color: wheat;
    border: burlywood 2px solid;
    width: 75px;
    height: auto;
    border-radius: 24px;
    font-family: Romulus;
    color: brown;
    font-size: 32px;
    font-weight: bolder;
}