.charbox {
  position: relative;
  z-index: 9;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: 5px;

  min-height: 420px;
  overflow-y: auto;
}

.list-group-item {
  background-image: url("../../images/cardthing.png");
  height: 156px;
  width: 250px;
  margin: auto;
  border-radius: 2%;
  background-color: wheat;
  color: burlywood;
  font-weight: normal;
  text-align: center;
  justify-content: space-evenly;
}

#level {
  text-align: center;
  display: inline-block;
  width: 46px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-top: 0;
  line-height: 39px;
  justify-self: center;
  background-color: wheat;
  border: burlywood 2px solid;

  border-radius: 4px;
  font-family: Romulus;
  color: brown;
  font-size: 32px;
  font-weight: bolder;
}

.character-list {
  /* height: 350px; */
  overflow-y: auto;
  min-height: 420px;
}

#class {
  font-size: 15px;
  color: rgb(214, 194, 13);
  margin: auto;
}
