/* #container {
    font-family: alagard;
    font-weight: lighter;
    font-size: 18px;
    background-image: url("../../images/stone_tile.png");
} */

.my-characters__title {
  text-shadow: 4px 4px 2px #000;
  font-weight: lighter;
  font-size: large;
  padding-bottom: 5px;
  margin: auto;
  color: burlywood;
}

.charbox {
  position: relative;
  z-index: 9;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: 5px;

  overflow-y: auto;
}

.list-group-item {
  background-image: url("../../../images/cardthing.png");
  height: 156px;
  width: 250px;
  margin: auto;
  border-radius: 2%;
  background-color: wheat;
  color: burlywood;
  font-weight: normal;
  text-align: center;
  justify-content: space-evenly;
}

#level {
  text-align: center;
  display: inline-block;
  width: 46px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-top: 0;
  line-height: 39px;
  justify-self: center;
  background-color: wheat;
  border: burlywood 2px solid;

  border-radius: 4px;
  font-family: Romulus;
  color: brown;
  font-size: 32px;
  font-weight: bolder;
}

.character-list {
  /* height: 350px; */
  overflow-y: auto;
  min-height: 400px;
  max-height: 700px;
}

#class {
  font-size: 15px;
  color: rgb(214, 194, 13);
  margin: auto;
}

#cardThing {
  height: auto;
  object-fit: scale-down;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
